# Native EnergyPlus (copy to `.env` and edit). Used by CLI + Streamlit studio.
# Windows
ENERGYPLUS_EXE=C:\EnergyPlusV26-1-0\energyplus.exe
ENERGYPLUS_ROOT=C:\EnergyPlusV26-1-0
ENERGYPLUS_WEATHER=C:\EnergyPlusV26-1-0\WeatherData\USA_CO_Golden-NREL.724666_TMY3.epw

# Linux example
# ENERGYPLUS_EXE=/usr/local/EnergyPlus-26-1-0/energyplus
# ENERGYPLUS_ROOT=/usr/local/EnergyPlus-26-1-0
# ENERGYPLUS_WEATHER=/usr/local/EnergyPlus-26-1-0/WeatherData/USA_CO_Golden-NREL.724666_TMY3.epw

# macOS example
# ENERGYPLUS_EXE=/Applications/EnergyPlus-26-1-0/energyplus
# ENERGYPLUS_ROOT=/Applications/EnergyPlus-26-1-0
# ENERGYPLUS_WEATHER=/Applications/EnergyPlus-26-1-0/WeatherData/USA_CO_Golden-NREL.724666_TMY3.epw
