LAB_ROLE={{ lab_role }}
LAB_SERIAL={{ lab_serial_by_id }}
LAB_BAUD={{ lab_baud }}
LAB_MAC={{ lab_mstp_mac }}
LAB_MAX_MASTER={{ lab_max_master }}
LAB_MAX_INFO_FRAMES={{ lab_max_info_frames }}
LAB_DEVICE_INSTANCE={{ lab_device_instance }}
LAB_PEER={{ lab_peer | default('') }}
LAB_OBSERVER_BIND={{ lab_observer_bind }}
LAB_UPSTREAM_SHA={{ lab_upstream_sha }}
LAB_RECOVERY_EXIT={{ lab_recovery_exit_code | default(75) }}
